:root{

}


/* GLOBALES */
*{
    margin: 0;
    padding: 0;
}

h1{
    
}


h2{

}

h3{

}


a{
    text-decoration: none;
}

.container__body__login{
    background-color: green;
}


/* NAV BAR */

.container_navbar{
    display: flex;
    margin-bottom: 5rem;
}


.back_init{
    margin: 1rem;
    max-width: 8%;
    background-color: red;
}


.inicio_de_sesion{
    font-size: 0.5rem;
}

/* FORMULARIO */


.section__contact{
background-color: green;
}

.form{

    
}

.form__fieldset{
border: none;

}


.form__fieldset legend {
    
    }



.campo{
text-align: center;
margin: 1rem 0 1rem 0;

}




.campo input{
border-radius: 10px;
color: #000;
font-size: 1rem;
padding: .4rem;
font-weight: bold;

}

.pasword{
    margin-bottom: 0;
    text-align: center;
    
}

.pasword input{
    border-radius: 10px;
color: #000;
font-size: 1rem;
padding: .4rem;
font-weight: bold;
}





.button{
background-color: white;
padding: .4rem;
border-radius: 5rem;
text-align: center;
}

.button a{
    color: black;
    
}

.container__remember{
    text-align: center;
    margin-top: 0;
    margin-bottom: 3rem;
}

.remember__pasword{
    margin-top: 0;
    font-size: .5rem;
    text-decoration:underline;
    color: white;
}
