:root{

}


/* GLOBALES */
*{
    margin: 0;
    padding: 0;
}

h1{
    
}


h2{

}

h3{

}


a{
    text-decoration: none;
}

body{
    background: linear-gradient(180deg, #043927 0%, #001E14 100%);
}
/* .container__body__login{
    background: linear-gradient(180deg, #043927 0%, #001E14 100%);
} */


/* NAV BAR */

.container_navbar{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
}


.back__arrow{
    margin-left: .5rem;
}


.inicio_de_sesion{
    font-size: 0.5rem;
    color: aliceblue;
}

/* FORMULARIO */


.section__contact{

}

.form{

    
}

.form__fieldset{
border: none;

}


.form__fieldset legend {
    
    }



.campo{
text-align: center;
margin: 1rem 0 1rem 0;

}




.campo input{
    text-align: center;
border-radius: 10px;
color: #000;
font-size: 1rem;
padding: .4rem 20%;
font-weight: bold;

}

.pasword{
    margin-bottom: 0;
    text-align: center;
    
}

.pasword input{
text-align: center;
border-radius: 10px;
color: #000;
font-size: 1rem;
padding: .4rem 20%;
font-weight: bold;
}





.button{
text-align: center;
margin-top: 3rem;
}

.button a{
    color: black;
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
    
}

.container__remember{
    text-align: center;
    margin-top: 0;
    margin-bottom: 3rem;
}

.remember__pasword{
    margin-top: 0;
    font-size: .5rem;
    text-decoration:underline;
    color: white;
}


/* aparte del login */

.container__login{
    display: flex;
    
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
